lab4/Example3.xsd

<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:example="http://www.example.com/Example" 
    targetNamespace="http://www.example.com/Example">
    <xsd:complexType name="chunkType" mixed="true">
        <xsd:choice maxOccurs="unbounded">
            <xsd:element name="b" type="chunkType"/>
            <xsd:element name="i" type="chunkType"/>
        </xsd:choice>
    </xsd:complexType>
    <xsd:complexType name="TextType" >
        <xsd:sequence>
            <xsd:element name="p" type="chunkType"/>
        </xsd:sequence>
    </xsd:complexType>
</xsd:schema>