lab4/Example2.xsd

<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:example="http://www.example.com/Example" 
    targetNamespace="http://www.example.com/Example">
    <xsd:element name="shoesize" type="shoesizeType"/>
    <xsd:complexType name="shoesizeType">
        <xsd:simpleContent>
            <xsd:extension base="xsd:integer">
                <xsd:attribute name="country" type="xsd:string"/>
            </xsd:extension>
         </xsd:simpleContent>
    </xsd:complexType>
</xsd:schema>